@model CadEmprestimoViewModel
@{
    ViewData["Title"] = "Cadastro de Emprestimos";
}

<h1 class="row justify-content-md-center">Cadastro de Empréstimo</h1>
<div class="row justify-content-md-center">
    <form asp-action="Cadastro" method="POST" class="col-md-4 needs-validation" novalidate>
        <fieldset>
            <legend>Usuario</legend>
            <div class="form-group">
                <label for="validationCustom01" asp-for="Emprestimo.NomeUsuario">Nome</label>
                <input id="validationCustom01" asp-for="Emprestimo.NomeUsuario" class="form-control" required />
                <div class="invalid-feedback">
                    Por favor insira o nome do usuário!
                </div>
            </div>
            <div class="form-group">
                <label for="validationCustom02" asp-for="Emprestimo.Telefone">Telefone</label>
                <input id="validationCustom02" asp-for="Emprestimo.Telefone" class="form-control" required />
                <div class="invalid-feedback">
                    Por favor insira um número de telefone!
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Livro</legend>
            <div class="form-group">
                <label for="validationCustom03" asp-for="Emprestimo.DataEmprestimo">Data de Empréstimo</label>
                <input id="validationCustom03" type="date" asp-for="Emprestimo.DataEmprestimo" class="form-control"
                    required />
            </div>
            <div class="form-group">
                <label for="validationCustom04" asp-for="Emprestimo.DataDevolucao">Data de Devolução</label>
                <input id="validationCustom04" type="date" asp-for="Emprestimo.DataDevolucao" class="form-control"
                    required />
            </div>
            <div class="form-group">
                <label for="validationCustom05" asp-for="Emprestimo.LivroId">Livro</label>
                <select id="validationCustom05" asp-for="Emprestimo.LivroId" class="form-control" required>
                    @foreach (Livro l in Model.Livros)
                    {
                        <option value="@l.Id">@l.Titulo</option>
                    }
                </select>
            </div>
        </fieldset>
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </form>
</div>
<script type="text/javascript" src="~/js/site.js"></script>