@model Usuario
@{
    ViewData["Title"] = "Cadastro de Usuários";
}

<h1 class="row justify-content-md-center">Cadastro de Usuários</h1>
<div class="row justify-content-md-center">
    <form class="col-md-4 needs-validation" asp-action="Cadastro" method="post" novalidate>
        <div class="form-group">
            <label for="validationCustom01" asp-for="Nome">Nome: </label>
            <input type="text" asp-for="Nome" id="validationCustom01" class="form-control" required />
            <div class="invalid-feedback">
                Por favor insira um nome de usuário!
            </div>
        </div>
        <div class="form-group">
            <label for="validationCustom02" asp-for="Login">Login: </label>
            <input type="text" asp-for="Login" id="validationCustom02" class="form-control" required />
            <div class="invalid-feedback">
                Por favor insira um login de usuário!
            </div>
        </div>
        <div class="form-group">
            <label for="validationCustom03" asp-for="Senha">Senha: </label>
            <input type="password" asp-for="Senha" id="validationCustom03" class="form-control" required
                minlength="8" />
            <div class="invalid-feedback">
                Por favor insira uma senha válida (mínimo 8 caracteres)!
            </div>
        </div>
        <div class="form-group">
            <label for="validationCustom04" asp-for="Tipo">Tipo Usuário:</label>
            <select class="form-control" id="validationCustom04" asp-for="Tipo" required>
                <option value="@Usuario.padrao">Padrão</option>
                <option value="@Usuario.admin">Administrador</option>
            </select>
        </div>

        <input class="btn btn-primary" type="submit" value="Cadastrar">
    </form>
</div>