@model Usuario

<div class="container-fluid">

    <div class="row-3 justify-content-md-center alert alert-warning" role="alert">
        <h1 class="alert-heading justify-content-md-center text-center w-100">ALERTA!</h1>
        <h2 class="justify-content-md-center text-center w-100">Tem certeza que deseja EXCLUIR o usuário @Model.Nome
            (@Model.Login)?</h2>
        <div class="col justify-content-md-center text-center">
            <p class="mb-0">A exclusão é irreversível!</p>
            <form action="Excluir" method="post">
                <input type="hidden" name="id" value="@Model.Id">
                <input class="btn btn-danger" name="decisao" type="submit" value="CANCELAR">
                <input class="btn btn-success" name="decisao" type="submit" value="EXCLUIR">
            </form>
        </div>
    </div>
</div>